.btn{
    background-color: colorBotones;
}

/* Index.html */
.encabezado1{
    
    background-color: rgb(0, 0, 0);
    height: 45px;
    margin-top: 10px;
    align-items: center;
    display: flex;
    padding: 20px;
    
    
}
/*.barraDer a{
    color: rgb(255, 255, 255);
    position: relative;
    margin: 15px;

    
} */
.barra a{
    color: rgb(255, 255, 255);
    position: relative;
    padding-left: 15px;
    
}
.medio{
    background-color: rgb(207, 203, 203);
    margin-top: 3px;
    position: relative;
} 
/* botones de busqueda, index */
.centro{
    background-color: rgb(0, 0, 0);
    padding: 8px;
    position: relative;
    margin-top: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    
}
.centro input{
    background-color: rgb(212, 212, 212);
    position: relative;
    width: 170px;
    padding: 5px;
    text-align: center;
    margin: 1px;
    
}
.centro input:hover{
    background-color: rgb(135, 222, 171);
    color: rgb(50, 28, 65);
} 
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}
.pie{
    text-align: center;
    background-color: rgb(211, 211, 211);
    color: rgb(75, 51, 209);
    width: 100%;
    height: 79px;
    margin-top: 3px;
    
}
.table {
    background-color: rgba(0, 0, 0, 0);
}

/* Registrar.html */
.registro{
    background-color: rgb(255, 255, 255);
    width: 400px;
    border-radius: 20px;
    box-shadow: 0 0 10px #1ab92f;
    margin: 5% auto;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.registro input{
    background-color: rgb(201, 201, 201);
    position: relative;
    width:300px;
    height: 15px;
    border: solid 1px;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    margin: 1px;
    
}
.registro input:hover{
    background-color: rgb(255, 255, 255);
    box-shadow:  2px 2px 5px #174735;
    border-radius: 5px;
    color: rgb(0, 0, 0);
}
.ingresar button{
    width:300px;
    height:40px;
    border: solid 1px;
    outline: none;
    border-radius: 25px;
    
    margin-bottom: 50px;
    font-size: 20px;
    background-color: #188ACA;
    color: white;
}
.ingresar button:hover{
    box-shadow: 2px 2px 5px #188ACA;
    color: #188ACA;
    background-color: rgb(255, 255, 255);
}
/* Registro2.html */
.registro2{
    background-color: rgb(255, 255, 255);
    width: 400px;
    border-radius: 20px;
    box-shadow: 0 0 10px #1ab92f;
    margin: 5% auto;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.registro2 input{
    background-color: rgb(201, 201, 201);
    position: relative;
    width:300px;
    height: 15px;
    border: solid 1px;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    margin: 1px;
    
}
.registro2 input:hover{
    background-color: rgb(255, 255, 255);
    box-shadow:  2px 2px 5px #174735;
    border-radius: 5px;
    color: rgb(0, 0, 0);
}
.ingresar button{
    width:300px;
    height:40px;
    border: solid 1px;
    outline: none;
    border-radius: 25px;
    margin-bottom: 50px;
    font-size: 20px;
    background-color: #188ACA;
    color: white;
}
.ingresar button:hover{
    box-shadow: 2px 2px 5px #188ACA;
    color: #188ACA;
    background-color: rgb(255, 255, 255);
}

/* Inicio.html */
.cabeza{
    background-color: rgb(255, 255, 255);
    padding: 8px;
    position: relative;
    display: flex;
    justify-content: center;

}
.opciones{
    flex: auto;
}
.izq {
    float: left;
    width: 100px;
    margin-left: 30px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.medio1 {
    background-color: rgb(255, 255, 255);
    display: block;
    justify-content: center;
    align-items: center;
    

}
.titulo{
    color: black;
    font-size: 50px;
    margin: 0 auto; 
    text-align: center;
}
.dere {
    float:right;
    display: block;
    margin-right: 30px;
    margin-top: 32px;
    margin-bottom: 32px;
}
.centro2{
    background-color:rgb(255, 255, 255);
    margin-top: 3px;
    
}
.contenido{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    position:relative;
    padding-left: 50px;
    margin: 0%;


}
.bloque1{
    position: relative;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    margin: 15px;
    display: flex;
    justify-content: center;
    
}
.bloque1 :hover{
    background-color: rgb(249, 255, 212) ;

}
.bloque2{
    position: relative;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    margin: 15px;
    
    display: flex;
    justify-content: center;
}
.bloque2 :hover{
    background-color: rgb(249, 255, 212);

}
.bloque3{
    position: relative;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    margin: 15px;
    display: flex;
    justify-content: center;
    
}
.bloque3 :hover{
    background-color: rgb(249, 255, 212) ;

}
.letra{
    padding: 20px;
    background-color: rgb(160, 160, 160);
}

/* configPage.html */


.bot{
    background-color: rgb(255, 255, 255);
    width: 300px;
    border-radius: 20px;
    box-shadow: 0 0 10px #2a312b;
    margin: 3% auto;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: right;
    display: block;
}

.bot input{
    margin-bottom: 10px;
}

.centroMain{
    
    width: 300px;
    background-color: rgba(255, 255, 0, 0.3);
    padding: 8px;
    border-radius: 20px;
    position: relative;
    margin: 5% auto;
    text-align: center;
    margin-top: 5px;
    align-items: center;
    display: grid;
    justify-content: center;
   
}
.centroMain input{
    background-color: rgb(255, 255, 255);
    position: relative;
    width: 170px;
    padding: 5px;
    text-align: center;
    margin: 1px;
    border-radius: 3px;
    
}
.centroMain input:hover{
    background-color: rgb(68, 68, 68);
    color: rgb(190, 189, 189);
}
.centroMain button{
   
    height: 30px;
    border: solid 1px;
    outline: none;
    border-radius: 3px;
    color: rgb(70, 70, 70);
}
.centroMain button:hover{
    box-shadow: 2px 2px 5px #400253;
    color: #000000;
    background-color: rgb(0, 0, 0);
}
